.description{
    position: relative;
    color: white;
    font-size: 3vw;
    text-transform: uppercase;
    margin-top: 30vw;
    margin-left: 10vw;
}
.description p{
    margin: 0px;
    position: relative;
}