.homeHeader{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.backgroundImage{
    width: 100%;
    height: 140vh;
    position: absolute;
    filter: brightness(60%);
}

.backgroundImage img{
    object-fit: cover;
}

.intro{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 35vh;
}

.intro h1{
    color: white;
    font-size: 7vw;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
}

.introImage{
    filter: brightness(70%);
    width: 350px;
    height: 475px;
    position: absolute;
}

.introImage img{
    object-fit: cover;
    object-position: top;
}